#root {
    position: absolute;
    height: 100%;
    width:100%;
		background-color: #16161b;
		color: rgba(255, 255, 255, 0.8);
}

.app-container {
	position: relative;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.landing-container {
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}