.day-container {
    border-radius: 0.75em;
    height:375px;
}


.time-tick-container {
    position: absolute;
    width: 100%;
}

.time-tick {
    text-align: center;
    height:1em;
    opacity: 50%;
    position: absolute;
    border-top: 2px solid white;
    width: 75%;
}

.events-container {
    position: relative;
}

.event-badge {
    overflow: hidden;
    position: absolute;
    width: 50%;
    cursor: pointer;
    border-radius: 0.5em;
    display: flex;
    align-items:center;
    justify-content:center;
}

.event-text {
    text-align: center;
    padding: .1em .1em;
    color: white;
    font-size: 50%;
    font-weight: 1000;
}

.event-badge:hover {
    color: #fff;
    border: 2px white solid;
    z-index: 100;
}

.event-badge-classroom {
    left:0%;
}

.event-badge-powertool {
    left:25%;
}

.event-badge-machineshop {
    left:50%;
}